body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Lato",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sign-in-background {
  background: linear-gradient(122.31deg, #f5cedd 0%, #efd8d4 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100px;
  width: 244px;
  margin: 38px;
  position: relative;
  bottom: 48px;
  right: 2px;
}

.sign-in-button {
  background: rgba(0,0,0,0.15);
  line-height: 40px;
  width: 290px;
  border-radius: 5px;
  border-style: hidden;
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  position: relative;
  bottom: 172px;
  outline: none;
}

.sign-in-button:hover {
  background: rgba(0,0,0,0.3);
}

.name-input {
  background: rgba(0,0,0,0.15);
  line-height: 40px;
  width: 270px;
  border-radius: 5px;
  border-style: hidden;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: white;
  margin-bottom: 15px;
  outline: none;
  padding-left: 20px;
}

.info-submit {
  background: linear-gradient(122.31deg, #e87798 0%, #fdad98 100%);
  line-height: 40px;
  width: 290px;
  border-radius: 5px;
  border-style: hidden;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: white;
  outline: none;
}

.custom-datepicker {
  background: rgba(0,0,0,0.15);
  height: 40px;
  width: 270px;
  border-radius: 5px;
  border-style: hidden;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: white;
  margin-bottom: 26px;
  outline: none;
  padding-left: 20px;
}

::placeholder {
  color: #ffff;
  opacity: 0.7;
}

.auth-group {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 47px;
}

.main-background {
  background: linear-gradient(122.31deg, #f0b6cb 0%, #fad6cf 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found-title {
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 225px;
}

.not-found-text {
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 550px;
}

.not-found-button {
  background: rgba(0,0,0,0.15);
  line-height: 40px;
  width: 270px;
  border-radius: 5px;
  border-style: hidden;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: white;
  position: relative;
  bottom: 510px;
  outline: none;
}

.not-found-button:hover {
  background: rgba(0,0,0,0.30);
}

.react-datepicker  {
  font-family: 'Lato', sans-serif !important;
  font-size: 0.8rem !important;
  background-color: rgba(0,0,0,0.5) !important;
  color: #fff !important;
  border: 1px !important;
  border-radius: 0.3rem !important;
  display: inline-block !important;
  position: relative !important;
  bottom: 30px !important;
  width: 291px !important;
}

.react-datepicker__header {
  text-align: center !important;
  background-color: #E25781 !important;
  border-bottom: 1px !important;
  border-top-left-radius: 0.3rem !important;
  border-top-right-radius: 0.3rem !important;
  padding-top: 8px !important;
  position: relative !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0 !important;
  color: #fff !important;
  font-weight: bold !important;
  font-size: 0.944rem !important;
}
.react-datepicker__navigation {
  outline: none;
}

.react-datepicker__navigation--previous {
  left: 15px !important;
  top: 12px !important;
  background: url(/arrow-left.png) no-repeat !important;
  width: 20px !important;
  height: 20px !important;
  border: none !important;
}

.react-datepicker__navigation--next {
  right: 15px !important;
  top: 12px !important;
  background: url(/arrow-right.png) no-repeat !important;
  width: 20px !important;
  height: 20px !important;
  border: none !important;
}

.react-datepicker__navigation--years {
  position: relative !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: url(/white-up-arrow.png) no-repeat !important;
}

.react-datepicker__navigation--years-previous {
  top: 5px !important;
  width: 20px !important;
  height: 20px !important;
  background: url(/white-down-arrow.png) no-repeat !important;
  border: none !important;
  position: relative !important;
}

.react-datepicker__navigation--years-upcoming {
  top: 4px !important;
  width: 20px !important;
  height: 20px !important;
  background: url(/white-up-arrow.png) no-repeat !important;
  border: none !important;
  position: relative !important;
}

.react-datepicker__month {
  margin: 0.4rem !important;
  text-align: center !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  color: #fff !important;
  display: inline-block !important;
  width: 2.16rem !important;
  line-height: 1.7rem !important;
  text-align: center !important;
  margin: 0.166rem !important;
}

.react-datepicker__year-dropdown {
  background-color: rgba(0,0,0,0.7) !important;
  position: absolute !important;
  width: 50% !important;
  left: 25% !important;
  top: 30px !important;
  z-index: 1 !important;
  text-align: center !important;
  border-radius: 0.3rem !important;
  border: 1px !important;
}

.react-datepicker__year-read-view--down-arrow {
  opacity: 0 !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover {
  border-radius: 0.3rem;
  background-color: rgba(0,0,0,0.51) !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range {
  border-radius: 0.3rem !important;
  background-color: #E25781 !important;
  color: #fff !important;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover {
  background-color: #b7204d !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected {
  border-radius: 0.3rem !important;
  background-color: #de3f6f !important;
  color: #fff !important;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.logout-button{
  background: rgba(0,0,0,0);
  border-style: hidden;
  position: relative;
  top:30vh;
  left:2.8vh;

}

.sidebar {
  width: 80px;
  height: 100vh;
  background: rgba(255,255,255, 0.25);
  display: flex;
  flex-direction: column;
  position: absolute;
}

.profile-page {
  width: 320px;
  height: 100vh;
  background: #F5CDD9;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 82px;
}
.tabbar-background {
  background: linear-gradient(122.31deg, #f0b6cb 0%, #fad6cf 100%);
  height: 100vh;
}

.friends-background {
  height: 100vh;
  width: 320px;
  background: linear-gradient(159.32deg, #F0B7CC 0%, #F4C5CD 100%);
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.15);
  position: relative;
  left: 80px;
}

.friends-title {
  width: 200px;
  height: 48px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.35);
  position: relative;
  top:30px;
  left:20px;

}

.avatar-font {
  font-size: 40px;
}
.sb-avatar {
  padding-right: 10px;
  font-family: 'Lato';
}
.friends-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.friends-list {
  width: 270px;
  height: 60px;
  display: flex;
  align-items: center;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  color: #424242;
  padding-left: 10px;
  border-radius: 5px
}

.friends-list:hover {
  background-color: rgba(0,0,0,0.15)
}

.search-button {
  width:270px;
  background: rgba(0,0,0,0);
  outline: none;
  text-align: left;
  border-style: hidden;
  border-bottom: 2px solid rgba(0, 0, 0, 0.35);
  color:rgba(0, 0, 0, 0.5);
  font-size: 18px;
  position: relative;
  top: 30px;
  left: 22px;
}

.search-button:hover {
  background-color: rgba(0,0,0,0.3)
}

.response-request-button {
  height:26px;
  background: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  outline: none;
  border-style: none;
  border-radius: 5px;
  align-items: center;
}

.response-request-button:hover {
  background: rgba(0,0,0,0.15);
}

.response-request-button:active {
  background: rgba(0,0,0,0.22);
}

.friend-date-of-birth{
  font-family: "Lato",sans-serif;
  font-size: 11px;
  color: #424242;
  margin:5px;
}

.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
  bottom: -1px;
	left: 0;
	width: 100%;
	border-bottom: 3px solid #E25781 !important;
}

.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
  right: -1px;
  top: 0;
  height: 100%;
  border-right: 3px solid #E25781 important;
}

.rwt__tablist:not([aria-orientation="vertical"]) {
	border-bottom: 1px solid rgba(0,0,0,0) !important;
}

.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	border-right: 1px solid rgba(0,0,0,0.35) !important;
	margin-right: 1rem;
}

.rwt__tab {
	background: transparent;
	border: 0;
	font-family: inherit;
	font-size: 14px !important;
  color: rgba(0,0,0,0.6) !important;
	padding: 1rem 2rem;
  transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	border-right: 1px solid #ddd;
	margin-right: 1rem;
}

.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background-color: #f4f4f4;
	background-color: rgba(0,0,0,0) !important;
}

.lato-font {
  font-family: "Lato",sans-serif;
  font-size: 18px;
  color: rgba(0,0,0,0.6);
}

.wish-button {
  height: 30px;
  width: 200px;
  color: #E25781;
  font-family: "Lato",sans-serif;
  font-size: 18px;
  border: 2px solid #E25781;
  box-sizing: border-box;
  border-radius: 15px;
  background: transparent;
  outline: none !important;
}

.wish-button:hover {
  box-shadow: 1px 0px 15px  #E25781;
}

.wish-button:active {
  box-shadow: 1px 3px 15px  #E25781;
}

.flexCenter {
  display:flex;
  justify-content: center;
  align-items: center;
}

.dialog-button {
  width:70;
  height:36;
  background: transparent;
  font-style: normal;
  font-size: 18px;
  color:#424242;
  outline:none !important;
  border-style: hidden;
  display:flex;
  justify-content: center
}

.dialog-button:hover {
  border-radius: 5px;
}

.dialog-button:active {
  border: 1px solid #E25781;
  border-radius: 5px;
  color:#E25781;
}

.tablestyle {
  background: rgba(255, 255, 255, 0.4);
}

.wishList-button {
  background: transparent;
  border-style:none;
  outline:none;
  color:rgba(0,0,0,0.45)
}

.wishList-button:active {
  color:#E25781;
}
